<%= form_for(@talent) do |f| %>
  <% if @talent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talent.errors.count, "error") %> prohibited this talent from being saved:</h2>

      <ul>
      <% @talent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    </div>
  <div class="field">
    <%= f.label "Type" %><br />
    <%= f.select  :type_id, Type.all.collect {|t| [t.name, t.id]}, :prompt => 'Select a type' %>
  </div>
  <div class="field">
    <%= f.label "Resume" %><br />
    <%= f.file_field :resume %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows=> 5, :cols => 50 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows=> 5, :cols => 50 %>
  </div>
  <div class="field">
    <%= f.label :tier %><br />
    <%= f.text_field :tier %>
    </div>
    <div class="field">
    <%= f.label :trex_contact %><br />
    <%= f.text_field :trex_contact %>
    </div>
    <div class="field">
    <%= f.label :interview_conducted %><br />
    <%= f.select :interview_conducted, %w[true false], :prompt => '' %>
    </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :rows=> 5, :cols => 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <h4>Skills</h4>
  
  <%= render :partial => 'talents/associate_skills' %>
<% end %>
