<h3><%= @talent.name %></h3>
<h3><%= @talent.type.name  %>
	

<h3> Skills</h3>
<%= form_for(@talent, :url => {:action => :set_skills} ) do |f| %>

  <ul>
  	<% @talent.type.skills.each do|skill| %>
  		<li><%= check_box_tag 'talent[skill_ids][]', skill.id, talent_has_skill?(skill) %><%= skill.name %></li>
  	<% end %>
  </ul>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

