<h1>Listing Talents</h1>

<div>
	<%= form_tag talents_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :name, params[:name] %>
			<%= select_tag :type_id, options_from_collection_for_select(Type.all.collect, 'id', 'name', params[:type_id]), 
					:prompt => 'All' %>
			<%= submit_tag "Search", :name => nil  %>
		</p>
	<% end %>
</div>

<div id='talents'>
	
	
		<%= render :partial => 'talents/talents_index' %>
		
</div>
<br />

<%= link_to 'New Talent', new_talent_path %>
