<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @talent.name %>
</p>

<p>
  <b>Type:</b>
  <%= @talent.type.name %>
</p>

<p>
	<b>Resume:</b>
	<%= talent_has_resume? %>
</p>

<p>
  <b>Description:</b>
  <%= @talent.description %>
</p>

<p>
  <b>Phone:</b>
  <%= @talent.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @talent.email %>
</p>

<p>
  <b>Address:</b>
  <%= @talent.address %>
</p>

<p>
  <b>Tier:</b>
  <%= @talent.tier %>
</p>

<p>
  <b>T-Rex Contact:</b>
  <%= @talent.trex_contact %>
</p>

<p>
  <b>Interview_Conducted:</b>
  <%= @talent.interview_conducted %>
</p>

<p>
  <b>Comments:</b>
  <%= @talent.comments %>
</p>


<%= link_to 'Edit', edit_talent_path(@talent) %> |
<%= link_to 'Back', talents_path %> 
<h3> Skills</h3>
<table>
	<thead>
		
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	
	<%= render @talent.skills %>
	
	</tbody>
</table>
