<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>Type</h1>
<p>
  <b>Name:</b>
  <%= @type.name %>
</p>

<h3>Talents</h3>
<table>
	<% @type.talents.each do |talent| %>
		<tr>
			<td><%= talent.name %></td>
		</tr>
	<% end %>
</table>
<br /><br />

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %> 
