<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @skill.desc %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>

<h3>Associated Skill Sets</h3>
<table >
	<tr>
		<td>
			<h4>Skill Sets</h4>
			<table>
				<thead>
					<th>Name</th>
					<th>Description</th>
				</thead>
				<tbody>
					<%= render @skill.skill_sets%>
				</tbody>
			</table>
		</td>
		<td>
			<h4>Talents</h4>
			<table>
				<thead>
					<th>Name</th>
					<th>type</th>
				</thead>
				<tbody>
					<%= render @skill.talents %>
				</tbody>
			</table>
		</td>
	</tr>
</table>